<!-- 
Buzzcalo - Reporte Amazon Mercadolibre
Date: August 26th, 2020
Dev: Franco Gil | f97gp1@gmail.com 
-->

<html>
  <meta charset="UTF-8" />
  <link rel="shortcut icon" href="../../static/assets/images/sm_buzz.ico" />

  <title>Buzzcalo - Reporte - Amazon | Mercadolibre</title>

  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/4b203e6a28.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"
      integrity="sha512-rmZcZsyhe0/MAjquhTgiUcb4d9knaFc7b5xAfju483gbEXTkeJRUMIPk6s3ySZMYUHEcjKbjLjyddGWMrNEvZg=="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/locale/es.min.js"
      integrity="sha512-tgY2qswcbQir80Vp67s5ZdbKikl99YmVXp3V/C4Acthk4gI29ONbQ+MR8B5tpESkNoa0N1P7HnSuzC6nOflrwA=="
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="../../static/assets/scripts/moment-duration-format.js"
    ></script>
    <script
      type="text/javascript"
      src="../../static/assets/scripts/render.js"
    ></script>
  </head>

  <body class="d-flex flex-column h-100">
    <nav class="navbar navbar-light bg-light justify-content-start">
      <a class="navbar-brand" href="#">
        <img
          src="../../static/assets/images/sm_buzz.ico"
          width="30"
          height="30"
          class="d-inline-block align-top rounded"
          alt=""
          loading="lazy"
        />
      </a>
      <span class="mr-3">|</span>
      <div class="p-2 bg-warning rounded text-white">
        <i class="fas fa-chart-bar" style="font-size: 1.25rem"></i>
      </div>
    </nav>
    <main class="container">
      <h2>Cantidades y artículos</h2>
      <hr />
      <div class="accordion" id="accordion"></div>
      <hr />
      <div id="tasa-mercado" class="card w-50 mx-auto d-none">
        <div class="card-header">Tasa Representativa del Mercado</div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li id="cop-usd" class="list-group-item text-center"></li>
            <li id="usd-cop" class="list-group-item text-center"></li>
            <li id="usd-mex" class="list-group-item text-center"></li>
          </ul>
          <p class="card-text text-right">
            <small id="actualizado" class="text-muted"></small>
          </p>
        </div>
      </div>

      <div id="loading" class="d-flex justify-content-center">
        <div class="spinner-grow" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </main>

    <footer class="footer mt-auto py-3">
      <div class="container text-center">
        <span class="text-muted">Buzzcalo 2020 &copy;</span>
      </div>
    </footer>
  </body>
</html>
